<head>    <title>Webber{{rtn}}</title>
</head>
<div><h1>{{rtn}}</h1></div>
<style>
    body{
        width: 100%;
        height: 100%;
    }
    div{
        width: 100%;
        height: 100%;
        align-content: center;
    }
    floor{
        margin-left: 50%;
        bottom: 10px;
        text-align: center;
        font-weight: 100;
        font-size: x-small;
    }
    a{
        position: fixed;
        bottom:15px;
    }
    img{
        opacity: 0.5;
        width: 15px;
        height: 15px;
    }
    img:hover{
        opacity: 0.8;
        transition: 0.5s;
    }
</style>
<floor><a href="https://github.com/suhan1996/isHanOnline"><img src="images/25231.png"></a>
</floor>